- title "Redis"

%table.table.table-condensed
  %thead
    %tr
      %th Application
      %th Environment
      %th User
      %th Password
      %th Host
      %th Port
      %th Database
      %th

  %tbody
    - @redis.each do |redi|
      %tr
        %td= redi.application.name
        %td= redi.environment.name
        %td= redi.user
        %td= redi.password
        %td= redi.host
        %td= redi.port.to_s
        %td= redi.db.to_s
        %td
          = link_to "Show", redi, class: "btn btn-xs btn-success"
          = link_to "Edit", edit_redi_path(redi), class: "btn btn-xs btn-info"
          = link_to "Destroy", redi, :method => :delete,
                               :data => { :confirm => "Are you sure?" },
                               class: "btn btn-xs btn-danger"

%br

= link_to "New Redis Configuration", new_redi_path, class: "btn btn-primary"
