- title "Secrets"

%table.table.table-condensed
  %thead
    %tr
      %th Application
      %th Environment
      %th Key
      %th Value
      %th

  %tbody
    - @secrets.each do |secret|
      %tr
        %td= secret.application.name
        %td= secret.environment.name
        %td= secret.key
        %td= secret.value
        %td
          = link_to "Show", secret, class: "btn btn-xs btn-success"
          = link_to "Edit", edit_secret_path(secret), class: "btn btn-xs btn-info"
          = link_to "Destroy", secret, :method => :delete,
                               :data => { :confirm => "Are you sure?" },
                               class: "btn btn-xs btn-danger"

%br

= link_to "New Secret", new_secret_path, class: "btn btn-primary"
