- title "secret #{@secret.id}"
%p
  %b Application environment:
  = @secret.application_environment_id
%p
  %b Key:
  = @secret.key
%p
  %b Value:
  = @secret.value

%br
= link_to "Edit", edit_secret_path(@secret), class: 'btn btn-sm btn-primary'
\|
= link_to "Back", secrets_path
